.title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    flex-flow: column;
}

.title-content {
    text-align: center;
    margin-top: 64px;
    color: #384758;
    font-size: 48px;
    font-weight: 600;
}

.text-content {
    margin-top: 47px;
    max-width: 432px;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #606F81;

}

.navigation {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 10px;
}


.rightArrow {
    margin-left: 19px;
}

.svg-1 {
    position: absolute;
    left: 0;
    top: 930px;
    margin-right: 10px;
    
}

.svg-2 {
    position: absolute;
    right: 0;
    top: 245px;
}